@font-face {
	font-family: "Inter-Regular";
	src: url("/src/fonts/Inter-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Inter-Medium";
	src: url("/src/fonts/Inter-Medium.ttf") format("truetype");
	font-display: swap;
}